<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Kalah Game</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="play_container">
    <div class="title">
        Kalah Game
    </div>
    <th:block layout:insert="~{fragments/finished_game}"/>
    <div th:if="${status != 'FINISHED'}">
        <!--/*@thymesVar id="game_id" type="java.lang.String"*/-->

        <th:block layout:insert="~{fragments/join_link}"/>

        <div class="block_center">First player side</div>
        <div class="game_bar_container block_center">
            <div class="first_player_kalah_container circle kalah_container">
                <span>Kalah</span>
                <span th:text="${first_player_kalah}"></span>
            </div>
            <div class="stones_bar_container">
                <div class="first_player_stones_bar_container">
                    <div th:each="stone : ${first_player_stones}" th:attr="data-value=${stone}" class="circle">
                        <span th:text="${stone}"></span>
                    </div>
                </div>
                <div class="second_player_stones_bar_container">
                    <div th:each="stone : ${second_player_stones}" th:attr="data-value=${stone}" class="circle">
                        <span th:text="${stone}"></span>
                    </div>
                </div>
            </div>
            <div class="second_player_kalah_container circle kalah_container">
                <span>Kalah</span>
                <span th:text="${second_player_kalah}"></span>
            </div>
        </div>
        <div class="block_center">Second player side</div>
        <div class="block_center game_bar_container">
            <th:block layout:insert="~{fragments/generate_player}"/>
            <th:block layout:insert="~{fragments/finish_button}"/>
        </div>
    </div>
</div>
<script src="/js/play_page_script.js"></script>
</body>
</html>
