<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Kalah Game</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="play_container">
    <th:block layout:insert="~{fragments/finish_button}"/>
    <div th:if="${status == 'FINISHED'}" class="status_message_container">
        <span th:if="${victorious_player == 'FIRST_PLAYER'}">
            Congratulations, game over! Winner first player
        </span>
            <span th:if="${victorious_player == 'SECOND_PLAYER'}">
            Congratulations, game over! Winner second player
        </span>
            <span th:if="${victorious_player == null}">
            Game ended!
        </span>
    </div>
    <div th:if="${status != 'FINISHED'}">
        <div class="join_link_container">
            If you want to invite a friend, use this link: <span th:text="${link}"></span>
        </div>
        <div class="game_bar_container">
            <div class="first_player_kalah_container">
                <div class="circle">K 1</div>
            </div>
            <div class="stones_bar_container">
                <div class="first_player_stones_bar_container">
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                </div>
                <div class="second_player_stones_bar_container">
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                    <div class="circle">6</div>
                </div>
            </div>
            <div class="second_player_kalah_container">
                <div class="circle">K 2</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
