<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalah Game</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <div class="title">
        Kalah Game
    </div>
    <div class="panel">
        <div class="section">
            <button>Create Game</button>
        </div>
        <div class="section">
            <input type="text" placeholder="Enter game id">
            <button>Join the Game</button>
        </div>
    </div>
</div>
</body>
</html>
