<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalah Game</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <div class="title">
        Kalah Game
    </div>
    <div class="start_page_container">
        <div class="section">
            <button id="create_game_button">Create new game</button>
        </div>
        <div class="section">
            <button id="join_game_button">Join the game</button>
            <input id="join_game_input" type="text" placeholder="Enter game id">
        </div>
    </div>
</div>
<script src="/js/start_page_script.js"></script>
</body>
</html>
